<html>

  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>


<body>
  <center>
    <h1>QuickEducator</h1>
  </center>

  <div>
    <h2>  {{course_details['course_name']}} </h2> 
    <h4>  Rating: {{course_details['course_rating']}} </h4> 
    <h4>  Domain: {{course_details['course_domain']}} </h4> 
    <h4>  Difficulty: {{course_details['course_difficulty_level']}} </h4> 
    <h4>  Fee($): {{course_details['course_fee']}} </h4> 
  </div>

  <div>
    <h3>  Professors </h3> 
      {% for n in professors %}
        <h4>{{n['first_name']}} {{n['last_name']}}</h4>
      {% endfor %}
  </div>

  <div>
    <h3>  Lectures </h3> 
    {% if lectures %}
    <table>
      <tr>
        <th>S. No</th>
        <th>Lecture</th>
        <th>Description</th>
      </tr>
      {% for n in lectures %}
        <tr>
          <td>{{n['lecture_id']}}</td>
          <td>{{n['topic']}}</td>
          <td>{{n['description']}}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <div>
      No Lectures Available
    </div>
    {% endif %}
  </div>

  <div>
    <h3>  Reviews </h3> 
    {% if reviews %}
    <table>
      <tr>
        <th>Date</th>
        <th>Feedback</th>
      </tr>
      {% for n in reviews %}
        <tr>
          <td>{{n['date_of_review']}}</td>
          <td>{{n['feedback']}}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
    <div>
      No Reviews Available
    </div>
    {% endif %}
  </div>

  {% if status in 'Enrolled' %}
  <div>
    <h4>  Add Reviews </h3> 
    <form action="{{url_for('add_review', course_id=course_details['course_id'], review_type='Course')}}" id="usrform" method="POST">
      <textarea rows="4" cols="50" name="feedback" form="usrform" required></textarea>
      <input type="submit">
    </form>
  </div>
  {% endif %}

  {% if status in 'Enrolled' %}
  <div>
      <button disabled>Enrolled</button>
  </div>
  {% elif status in 'Wishlist' %}
  <div>
    <form action="{{url_for('enroll', course_id=course_details['course_id'])}}" method="POST">
      <button>Enroll</button>
    </form>
  </div>
  {% else %}
  <div>
    <form action="{{url_for('enroll', course_id=course_details['course_id'])}}" method="POST">
      <button>Enroll</button>
    </form>
    <form action="{{url_for('add_wishlist', course_id=course_details['course_id'])}}" method="POST">
      <button>Add To Wishlist</button>
    </form>
  </div>
  {% endif %}

</body>


</html>
